header {
    height: 50px;
    width: 100%;
    background-color: red ;
    position: fixed;            
    top: 0;
    opacity: 0.9;
}


.header-left{
    font-size:  30px;;
    color: aliceblue;
    float:left;
}

.header-right{
    float:right;
    color: aliceblue;
}

.btn-wrapper{
    text-align: center;
    margin: 20px 20px;
    
}

.btn{
    color: white;

}

.top-wrapper{
    font-size:40px;
    color:white;
    background-image: url(https://resources.matcha-jp.com/resize/720x2000/2018/05/14-53944.jpeg);
    background-size: cover;
    padding-top:20px;
    text-align: center;
}

.menus-wrapper{
    text-align: center;
    border-bottom: 1px solid #333;
}



.menu{
    font-size:20px;
    width: 33%;
    display: inline-block;
    margin-top: 30px;
    text-align: center;
}

.menu img{
    height:100%;
    
}

.menu h2{
    border-bottom: 1px solid #333;
}

.text-contents {
    font-size: 12px;
    color: black;
    margin:10px;

}


.messege-wrapper{
    padding-top: 50px;
}

footer {
    padding-top: 30px;
  }